.carousel-slide {
    width: 100%;
    height: auto;
  }
  
  .carousel-slide img {
    width: 100%;
    height: auto;
  }

  .custom-padding {
    padding: 50px 200px;
  }
  
  /* src/components/MostPopularPosts.css */

.most-popular-posts {
  margin-top: 20px;
}

.most-popular-posts h2 {
  margin-bottom: 20px;
}

.post-item {
  padding: 0px 20px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.post-item:first-child {
  padding-left: 0;
}

.post-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.post-content {
  padding: 16px;
}

.post-content .author {
  color: #007bff; /* Adjust color to your design */
}

.post-content h3 {
  margin: 8px 0;
}

.post-content p {
  color: #555; /* Adjust color to your design */
}
.navigation-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.custom-nav-button {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
}

.custom-nav-button:hover {
  background-color: #f0f0f0;
}

.custom-nav-button:focus {
  outline: none;
}